:root {
  --default-color: #3e4351;
  --primary-color: #4c25f2;
  --primary-font-color: white;
  --secondary-font-color: black;
  --link-font-color: #5727f2;
  --secondary-color: #de34b6;
  --accent-color: #62cbbf;
  --primary-font: "Roboto", sans-serif;
  --button-font-weight: 600;
  --primary-font-size: 2rem;
}
body {
  margin: 0;
  background: #f1f1f1;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10px;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#underline {
  border-bottom: black 2px solid;
  width: 50vw;
}

#underline-div {
  border-bottom: black 1.5px solid;
  width: 30vw;
  margin-top: 1rem;
}

main {
  margin-top: 0;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0;
}

h1 {
  font-family: var(--primary-font);
}

code {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  color: black;
}

pre {
  margin-top: 2rem;
}

#div-title {
  font-family: var(--primary-font);
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

#footer-text {
  font-family: var(--primary-font);
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  padding-bottom: 0;
}

@media screen and (max-width: 800px) {
  main {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
  }
}
